html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.gird__row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: $bg-main;
  padding-top: 2rem;
}
main {
  margin-top: 15rem;
  padding-bottom: 50px;
  background-color: $bg-main;
}
.mt-20 {
  margin-top: 2rem;
}

// slide
.slider-1 {
  .slick-next,
  .slick-prev {
    opacity: 0;
    transition: all 0.4s linear;
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: $text-white;
    z-index: 10;
    font-size: 25px;
    padding: 1.5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: rgba(0, 0, 0, 0.35);
    }
  }
  .slick-prev {
    border-radius: 0 2px 2px 0;
  }
  .slick-next {
    border-radius: 2px 0px 0px 2px;
    right: 0;
  }
  .slick-dots {
    list-style: none;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    transform: translateY(-3rem);
    button {
      font-size: 0;
      background-color: hsl(0 0% 100%/ 0.4);
      border: hsl(0 0% 54%/ 0.8);
      border-radius: 100rem;
      width: 1rem;
      height: 1rem;
    }
    .slick-active button {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
  //  gán vào item
  // &:hover .slick-next,
  // &:hover .slick-prev {
  //   visibility: visible;
  //   transition: all 0.4s linear;
  //   opacity: 1;
  // }
}
.slider-2 {
  .slick-next,
  .slick-prev {
    opacity: 1;
    transition: all 0.1s linear;
    visibility: visible;
    position: absolute;
    top: 50%;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 9999px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    font-size: $font-12;
    padding: 0.5rem 1.1rem;
    cursor: pointer;
  }
  .slick-next {
    right: 0;
    transform: translate(50%, -50%);
  }
  .slick-prev {
    transform: translate(-50%, -50%);
  }
  .slick-disabled {
    opacity: 0;
    visibility: hidden;
  }
  // gán vào item
  // &:hover .slick-next,
  // &:hover .slick-prev {
  //   font-size: 25px;
  //   padding: 0.5rem 1.7rem;
  // }
}

// image
.image-product {
  width: 100%;
  height: 100%;
  // background: url("../images/flash-sale/fl1.png") top center / contain no-repeat;
  z-index: 99;
  position: absolute;
  object-fit: contain;
}
.image-ad {
  position: absolute;

  z-index: 100;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
// top-section
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    font-size: $font-18;
    text-transform: uppercase;
  }
  &__right {
    a {
      font-size: $font-14;
      text-decoration: none;
      font-weight: 400;
      padding: 5px 7px;
      i {
        transform: translateY(1px);
      }
    }
  }
}

.text-gray {
  color: rgba(0, 0, 0, 0.54);
}

.text-orange-light {
  color: $orange-light;
}

.text-orange-bold {
  color: $orange-bold;
}

.mr-2 {
  margin-right: 2px;
}

.p-20 {
  padding: 2rem;
}

.text-truncate {
  // text-truncate
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
