html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.gird__row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: $bg-main;
  padding-top: 2rem;
}
main {
  margin-top: 15rem;
  padding-bottom: 50px;
  background-color: $bg-main;
}
