html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.gird__row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  background-color: $bg-main;
  padding-top: 2rem;
}
main {
  margin-top: 15rem;
  padding-bottom: 50px;
  background-color: $bg-main;
}
.mt-20 {
  margin-top: 2rem;
}

// slide
.slider-2 {
  .slick-next,
  .slick-prev {
    opacity: 1;
    transition: all 0.1s linear;
    visibility: visible;
    position: absolute;
    top: 50%;
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 9999px;
    color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    font-size: $font-12;
    padding: 0.5rem 1.1rem;
    cursor: pointer;
  }
  .slick-next {
    right: 0;
    transform: translate(50%, -50%);
  }
  .slick-prev {
    transform: translate(-50%, -50%);
  }
  .slick-disabled {
    opacity: 0;
    visibility: hidden;
  }
  // gán vào item
  // &:hover .slick-next,
  // &:hover .slick-prev {
  //   font-size: 25px;
  //   padding: 0.5rem 1.7rem;
  // }
}

// image
.image-product {
  width: 100%;
  height: 100%;
  background: url("../images/flash-sale/fl1.png") top center / contain no-repeat;
  z-index: 99;
  position: absolute;
}
.image-ad {
  position: absolute;
  background: url("../images/flash-sale/flb1.png") top center / contain
    no-repeat;
  z-index: 100;
  width: 100%;
  height: 100%;
}
